.navbar-inverse{background-color:#6699FF;border-color:#6699FF;border-radius:0;margin:0;width:100%;position:absolute;top:0;z-index:10;}
.navbar-inverse .navbar-brand{color:#FFF;}
.navbar-inverse .navbar-nav>li>a{color:#EEE;}
.navbar-inverse .navbar-nav>li>a:hover{color:#FFF;}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus{background-color:#0066CC;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus{background-color:#6699FF;border-color:#6699FF;}
.list-first{background:#f8f8f8;}
.list-first .btn{color:#999;}
.list-first .btn:hover{color:#666;}
html,body{height:100%;}
.body,.main{height:100%;}
.main{padding-top:50px;}
.left,.center,.right{height:100%;padding:0;}
.center{border-right:solid 1px #e7e7e7;border-left:solid 1px #e7e7e7;}
.list-noborder .list-group-item{border-radius:0;border-left:none;border-right:none;}
.maskview{position:absolute;width:100%;height:100%;top:0;left:0;z-index:200;background:#F8F8F8;overflow-y:scroll;}
.loading{width:100%;height:100%;background:rgba(255,255,255,0.5);position:absolute;top:0;}
#current{font-size:16px;margin:5px 0;padding-top:5px;}

/*write.html*/
.tools{padding:10px 0;position:fixed;top:0;width:100%;background:#EEE;z-index:201;}
.write{width:960px;}

/*scroll*/
#midList,#content{height:calc(100% - 56px);overflow-y:auto;overflow-x:hidden;}
.list-group{height:100%;}
#content{padding:0 20px;}

/*mid menu*/
#midList .list-group-item .info{font-size:12px;color:#CCC;margin-top:10px;}
#midList .list-group-item.active .info{color:#F1F1F1;}

#midList .list-group-item .listbtn{display:none;font-size:12px;position:absolute;right:10px;top:10px;color:#666;}
#midList .list-group-item .listbtn span{margin-left:5px;}
#midList .list-group-item .listbtn span:hover{color:#333;}

#midList .list-group-item.active:hover{background:#97b9ff;border-top:solid 1px #97b9ff;border-bottom:solid 1px #97b9ff;}


#midList .list-group-item.active:hover .listbtn{display: block;}
#midList .list-group-item:hover .listbtn{display: block;}